source https://api.nuget.org/v3/index.json
framework >= net45


group Main
source https://www.nuget.org/api/v2

nuget FAKE
nuget FsLab
nuget EmguCV
nuget FSharp.Quotations.Evaluator
nuget MathNet.Numerics.MKL.Win-x64
nuget MathNet.Numerics.OpenBLAS.Win